<section class="our-service">
    <section style="margin: 40px auto; width: 85%; padding-bottom: 60px;" class="conatiner">
        <div class="flex">
            <h3 class="flex__title">Our Service</h3>
            <h2 class="flex__main-title">Donec porttitor euismod dignissim</h2>
        </div>
        <div class="cards">
            <div class="card">
                <div class="image">
                    <img src="assets/images/icons/search.svg" alt="">
                </div>
                <div class="title">Buy a New Home</div>
                <div class="desc">Donec porttitor euismod dignissim. Nullam a lacinia ipsum, nec dignissim purus. </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="assets/images/icons/white-home.svg" alt="">
                </div>
                <div class="title">Buy a New Home</div>
                <div class="desc">Donec porttitor euismod
                    dignissim. Nullam a lacinia
                    ipsum, nec dignissim
                    purus. </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="assets/images/icons/white-bed.svg" alt="">
                </div>
                <div class="title">Buy a New Home</div>
                <div class="desc">Donec porttitor euismod
                    dignissim. Nullam a lacinia
                    ipsum, nec dignissim
                    purus. </div>
            </div>
        </div>
    </section>
</section>