<section class="header">
    <section class="conatiner">
        <div class="flex">
            <div class="flex__navs">
                <ul>
                    <li class="active">Home</li>
                    <li>About</li>
                    <li>Listings</li>
                    <li>Services</li>
                    <li>Blogs</li>
                </ul>
            </div>
            <div class="flex__logo">
                <span class="img">
                    <img src="assets/images/logo.svg" alt="Rezilla">
                </span>
                <span class="title">Rezilla</span>
            </div>
            <div class="flex__buttons">
                <div class="login">
                    <div class="login__content">
                        <span><img src="assets/images/icons/user.png" alt="login/register"></span>
                        <span>Login/Register</span>
                    </div>
                </div>
                <div class="add-listing">
                    <div class="add-listing__content">
                        <span><img src="assets/images/icons/home.png" alt="Add Listing"></span>
                        <span>Add Listing</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>