<section class="areas">
    <section class="conatiner">
        <div class="overlay-image"></div>
        <div class="header">
            <h3 class="header__title">Areas Across The Town</h3>
            <h2 class="header__main-title">Neighborhood Properties</h2>
        </div>
        <div class="row-1">
            <div class="image image-1">
                <div class="overlay">
                    <div class="content">
                        <span class="number">216</span>
                        <span class="title">New York City, NY</span>
                    </div>
                </div>
                <img src="assets/images/areas/1.jfif" alt="">
            </div>
            <div class="image image-2">
                <div class="overlay">
                    <div class="content">
                        <span class="number">251</span>
                        <span class="title">Houston, TX</span>
                    </div>
                </div>
                <img src="assets/images/areas/2.jfif" alt="">
            </div>
            <div class="image image-3">
                <div class="overlay">
                    <div class="content">
                        <span class="number">154</span>
                        <span class="title">San Diego, CA</span>
                    </div>
                </div>
                <img src="assets/images/areas/3.jfif" alt="">
            </div>
        </div>
        <div class="row-2">
            <div class="image image-1">
                <div class="overlay">
                    <div class="content">
                        <span class="number">183</span>
                        <span class="title">Philadelphia, PA</span>
                    </div>
                </div>
                <img src="assets/images/areas/4.jfif" alt="">
            </div>
            <div class="image image-2">
                <div class="overlay">
                    <div class="content">
                        <span class="number">112</span>
                        <span class="title">San Francisco, CA</span>
                    </div>
                </div>
                <img src="assets/images/areas/5.jfif" alt="">
            </div>
        </div>
    </section>
</section>