<section class="main">
    <div class="landing">
        <app-landing-header></app-landing-header>
    </div>
    <div class="who-are-we">
        <app-who-are-we></app-who-are-we>
    </div>
    <div class="checkout">
        <app-checkout></app-checkout>
    </div>
    <div class="our-service">
        <app-our-service></app-our-service>
    </div>
    <div class="areas">
        <app-areas></app-areas>
    </div>
    <div class="our-team">
        <app-our-team></app-our-team>
    </div>
    <div class="trending">
        <app-trending></app-trending>
    </div>
    <div class="testimonials">
        <app-testimonials></app-testimonials>
    </div>
    <div class="agent">
        <app-agent></app-agent>
    </div>
</section>