<section class="sub-header">
    <section class="conatiner">
        <div class="flex">
            <div class="flex__address">
                <span><img src="assets/images/icons/location.svg" alt=""></span>
                <span>Rezilla, 18 Grattan St, Brooklyn</span>
            </div>
            <div class="flex__contacts">
                <div class="mobile">
                    <span><img src="assets/images/icons/white-phone.svg" alt=""></span>
                    <span>+1 206-214-2298</span>
                </div>
                <div class="email">
                    <span><img src="assets/images/icons/white-email.svg" alt=""></span>
                    <span>supporte&#64;rezilla.com</span>
                </div>
            </div>
        </div>
    </section>
</section>