<div class="our-team">
    <div class="container">
        <div class="overlay"></div>
        <div class="header">
            <h3 class="header__title">Introduce yourself to</h3>
            <h2 class="header__main-title">Our Team of Experts</h2>
        </div>
        <div class="cards">
            <div class="cards__card">
                <div class="image">
                    <img src="assets/images/teams/1.jfif" alt="team">
                </div>
                <div class="content">
                    <span class="title">Brendon M</span>
                    <span class="job">CEO & Founder</span>
                </div>
            </div>
            <div class="cards__card">
                <div class="image">
                    <img src="assets/images/teams/2.jfif" alt="team">
                </div>
                <div class="content">
                    <span class="title">Jodi J.Appleby</span>
                    <span class="job">Real Estate Developer</span>
                </div>
            </div>
            <div class="cards__card">
                <div class="image">
                    <img src="assets/images/teams/3.jfif" alt="team">
                </div>
                <div class="content">
                    <span class="title">Justin S.Meza</span>
                    <span class="job">Listing Agent</span>
                </div>
            </div>
            <div class="cards__card">
                <div class="image">
                    <img src="assets/images/teams/4.jfif" alt="team">
                </div>
                <div class="content">
                    <span class="title">Susan T.Smith</span>
                    <span class="job">Buyer s Agent</span>
                </div>
            </div>
        </div>
    </div>
</div>