<section class="testimonials">
    <section class="container">
        <div class="flex">
            <div class="flex__content">
                <h3 class="flex__content__title">testimonials</h3>
                <h2 class="flex__content__main-title">Look What Our <br>
                    Customers Say!</h2>
                <p class="desc">Fusce venenatis tellus a felis scelerisque, non <br>
                    pulvinar est pellentesque. </p>
                <div class="buttons">
                    <span>
                        <img src="assets/images/icons/left-arrow.svg" alt="">
                    </span>
                    <span>
                        <img src="assets/images/icons/right-arrow.svg" alt="">
                    </span>
                </div>
            </div>
            <div class="flex__card">
                <div class="overlay-image"></div>
                <div class="quote">
                    <img src="assets/images/icons/quote.png" alt="">
                </div>
                <p class="desc">I highly recommend Jodi J. Appleby. <br>
                    She was attentive to our needs and <br>
                    worked tirelessly to find us the perfect <br>
                    home. We couldn t be happier with our <br>
                    new place!</p>
                <div class="divider"></div>
                <div class="rate-section">
                    <div class="user-image">
                        <span><img src="assets/images/teams/4.jfif"></span>
                        <span>Barbara D. Smith</span>
                    </div>
                    <div class="rate">
                        <span><img src="assets/images/icons/star-gold.png" alt="rate"></span>
                        <span><img src="assets/images/icons/star-gold.png" alt="rate"></span>
                        <span><img src="assets/images/icons/star-gold.png" alt="rate"></span>
                        <span><img src="assets/images/icons/star-gold.png" alt="rate"></span>
                        <span><img src="assets/images/icons/star.png" alt="rate"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>