<section class="agent">
    <section class="container">
        <div class="card">
            <div class="image">
                <img src="assets/images/agent.png" alt="">
            </div>
            <div class="content">
                <h3 class="title">Become a Agent.</h3>
                <p class="desc">Fusce venenatis tellus a felis scelerisque. <br>
                    venenatis tellus a felis scelerisque. </p>
            </div>
            <div class="button">
                <span>Register Now</span>
            </div>
        </div>
    </section>
</section>