<section class="sub-footer">
    <section class="conatiner">
        <div class="flex">
            <div class="title">© Rezilla All rights reserved</div>
            <div class="content">
                <div class="text">
                    <span>Terms and Conditions</span>
                </div>
                <div class="text">
                    <span>Privacy Policy</span>
                </div>
                <div class="text">
                    <span>Disclaimer</span>
                </div>
            </div>
        </div>
    </section>
</section>