<section class="footer">
    <section class="container">
        <div class="flex">
            <div class="flex__contact">
                <div class="logo">
                    <span class="logo__img">
                        <img src="assets/images/logo.svg" alt="Rezilla">
                    </span>
                    <span class="logo__title">Rezilla</span>
                </div>
                <div class="address">
                    <p>2728 Hickory StreetSalt <br>
                        Lake City, UT 84104</p>
                </div>
                <div class="phone">
                    <span><img src="assets/images/icons/phone.svg"></span>
                    <span>+1 206 214 2298</span>
                </div>
                <div class="email">
                    <span><img src="assets/images/icons/email.svg"></span>
                    <span>supporte&#64;rezilla.com</span>
                </div>
            </div>
            <div class="flex__quick">
                <div class="title">
                    <span>Quick Links</span>
                </div>
                <div class="navs">
                    <ul>
                        <li>Home</li>
                        <li>About</li>
                        <li>Listings</li>
                        <li>Services</li>
                        <li>Blogs</li>
                        <li>Become a Agent</li>
                    </ul>
                </div>
            </div>
            <div class="flex__discovery">
                <div class="title">
                    <span>Discovery</span>
                </div>
                <div class="navs">
                    <ul>
                        <li>Canada</li>
                        <li>United States</li>
                        <li>Germany</li>
                        <li>Africa</li>
                        <li>India</li>
                    </ul>
                </div>
            </div>
            <div class="flex__subscribe">
                <div class="title">
                    <span>Subscribe to our <br>
                        Newsletter!</span>
                </div>
                <div class="email">
                    <input type="email" placeholder="Email Address">
                </div>
                <div class="follow">
                    <div class="title">
                        <span>Follow Us on</span>
                    </div>
                    <div class="social">
                        <span><img src="assets/images/socials/1.svg" alt=""></span>
                        <span><img src="assets/images/socials/2.svg" alt=""></span>
                        <span><img src="assets/images/socials/3.svg" alt=""></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>