<div class="trending">
    <div class="container">
        <div class="header">
            <h3 class="header__title">whats trending</h3>
            <h2 class="header__main-title">Latest Blogs & Posts</h2>
        </div>
        <div class="cards">
            <div class="cards__card">
                <div class="overlay-arrow">
                    <span><img src="assets/images/icons/arrow.png" alt=""></span>
                </div>
                <div class="image">
                    <div class="overlay-date">
                        <span>28 <br> <span>Tue</span> </span>
                    </div>
                    <img src="assets/images/areas/5.jfif">
                </div>
                <span class="title">Top 10 Home Buying
                    Mistakes <br> to Avoid</span>
                <span class="desc">Etiam eget elementum elit. Aenean <br>
                    dignissim dapibus vestibulum</span>
            </div>
            <div class="cards__card">
                <div class="overlay-arrow">
                    <span><img src="assets/images/icons/arrow.png" alt=""></span>
                </div>
                <div class="image">
                    <div class="overlay-date">
                        <span>08 <br> <span>Mon</span></span>
                    </div>
                    <img src="assets/images/areas/4.jfif">
                </div>
                <span class="title">How to Stage Your
                    Home <br> for a Quick Sale</span>
                <span class="desc">Etiam eget elementum elit. Aenean <br>
                    dignissim dapibus vestibulum</span>
            </div>
            <div class="cards__card">
                <div class="overlay-arrow">
                    <span><img src="assets/images/icons/arrow.png" alt=""></span>
                </div>
                <div class="image">
                    <div class="overlay-date">
                        <span>26 <br> <span>Wed</span></span>
                    </div>
                    <img src="assets/images/areas/5.jfif">
                </div>
                <span class="title">5 Tips for First Time <br>
                    Home Sellers</span>
                <span class="desc">Etiam eget elementum elit. Aenean <br>
                    dignissim dapibus vestibulum</span>
            </div>
        </div>
    </div>
</div>